@charset "UTF-8";
body {
    margin:0px;
    font-family: Helvetica, sans-serif;
  }
  h3 {
    margin-top:0px;
    margin-bottom:0px;
  }
  .section {
    text-align:center;
    margin-top:10px;
    padding-left:10%;
    padding-right:10%;
    padding-top:20px;
    padding-bottom:20px;
  }
  .section > h3 {
    color:#16243C;
    font-size:50px;
    font-weight:400;
  }
  .section > p {
    font-size:25px;
    font-weight:100;
    margin-top:37px;
    line-height:40px;
  }
  .section > p:nth-child(3) {
    font-weight:normal;
  }
  .lightblue {
    background-color:#A5B9DF;
  }
  .bg-image{
    background: url("/assets/img/chemistrypattern.jpg") no-repeat;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment:fixed;
    z-index:1;
    margin-top:106px;
  }
  
  .bg-image::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:  #151C4Dcb;
  }
  
  .bg-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:90%;
    z-index: 2;
    padding: 20px;
    text-align: center;
  }
  .bg-text h1 {
    font-size:90px;
    font-weight: 500;
    text-shadow: 4px 4px 4px black;
  }
  .nav {
    list-style-type:none;
    top:0px;
    left:0px;
    right:0px;
    background-color:#151C4D;
    position:fixed;
    z-index:300;
    margin:0px;
    padding-right:10px;
  }
  .nav li {
    float:right;
  }
  .nav li a {
    display:block;
    color:white;
    font-size:16px;
    text-align:center;
    padding:45px 18px;
    text-decoration:none;
  }
  button.orange {
    border-radius:25px;
    border:none;
    padding:15px 40px;
    margin:0px 15px;
    font-size:20px;
    background-color:#E59527;
    color:white;
    letter-spacing:1px;
  }
  .flextable {
    display: flex;
    flex-wrap: wrap;
  }
  .flexelement {
    width:33.333333333333333333333%;
    background-color:blue;
    margin-top:20px;
    position:relative;
  }
  .profilepic {
    width:100%;
    height:auto;
    display:block;
    margin:auto;
  }
  .hoverimage {
      position:relative;
      width:80%;
      margin:auto;
  }
  .description {
      background-color:grey;
      width:80%;
      margin:auto;
  }
  .description > p {
      font-size:20px;
      line-height:25px;
      padding:2px 0px;
      margin-top:0px;
      margin-bottom:0px;
  }
  .description > p:nth-child(1) {
      font-weight:bold;
  }
  .hoverimage:hover .aboutperson {
    display:block;
  }
  .aboutperson{
      top:0;
      left:0;
      right:0;
      bottom:0;
      position:absolute;
      background:rgb(0,128,0,0.8);
      height:100%;
      display:none;
  }
  .footer {
      height:100px;
      background-color:#151C4D;
  }