.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 99999999;
}

#preloader-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loading-msg {
    width: 100%;
    font-size: 0.75em;
    color: #555;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #2489CE;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite ease;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading-msg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 0.8em;
}

body {
    overflow: hidden;
}