/*color guide
bright orange: #FF9900
dirty orange: #d2812c
dark navy: #1a2150
purplish gray: #DEE1F6
dark dark navy:#151c4d
color of blue jeans: #5b80c4
*/
html {
  height:100%;
}
body {
  margin:0px;
  font-family: "Lato", sans-serif;
}
hr {
  margin-top:0;
  margin-bottom:0;
}

.firstsight {
  background-color:#1a2150;
  height:100vh;
}
@media only screen and (min-width:990px) {
  .firstsight > .container {
    position:relative;
    top:50%;
    transform:translateY(-50%);
  }
}
@media only screen and (max-width: 990px) {
  .firstsight {
    padding-top:65px;
    height:auto;
    padding-bottom:160px;
  }
}
.firstsightText > h1{
  font-weight:900;
  color:white;
  font-size:50px;
}
.firstsightText > h2{
  color:white;
}
.firstsightBtnContainer {
  margin-top:30px;
  background-color:green;
}
.firstsightButton {
  display:inline-block;
  margin-left:0px;
  margin-right:0px;
  text-align:center;
  width:49%;
}
@media screen and (max-width:400px) {
  .firstsightButton {
    display:block;
    width:100%;
    margin-bottom:20px;
  }
}
.btnlink {
  color:white;
  text-decoration:none;
  font-size:20px;
  border-radius:30px;
  border-style:solid;
  border-width:4px;
  border-color:white;
  transition-duration:0.5s;
  width:150px;
  font-weight:700;
}
.btnlink:hover {
  color:#1a2150;
  background-color:white;
}
.spaceshipContainer {
  margin-top:200px;
}
.spaceship {
  width:80%;
  height:91%;
  margin:auto;
  transform-style: preserve-3d;
  margin-left:20%;
}
@media only screen and (max-width: 992px) {
  .spaceshipContainer {
    margin-top:30px;
  }
  .spaceShip {
    width:30px;
  }
}
/*mission section*/
.mission {
  padding-top:150px;
  background-color:red;
}
.missionHeader {
  text-align:center;
}
/*year round*/
.yearroundBtnContainer {
  margin-top:30px;
  background-color:pink;
}
.yearroundButton {
  display:inline-block;
  margin-left:0px;
  margin-right:0px;
  text-align:center;
  width:49%;
}
@media screen and (max-width:400px) {
  .yearroundButton {
    display:block;
    width:100%;
    margin-bottom:20px;
  }
}
.yearroundbtnlink {
  color:white;
  text-decoration:none;
  font-size:20px;
  border-radius:30px;
  border-style:solid;
  border-width:4px;
  border-color:white;
  transition-duration:0.5s;
  width:150px;
  font-weight:700;
}
.yearroundbtnlink:hover {
  color:#1a2150;
  background-color:white;
}
.yearroundHeading {
  text-align:center;
}
/*trust section*/
.trust {
  margin-bottom:50px;
}
.trustbox {
  text-align:center;
  color:#1a2150;
  padding:0px 25px;
}
.trustbox > p:nth-child(1) {
  font-size:25px;
}
.trustbox > p:nth-child(2) {
  font-size:19px;
}
.trust > h1 {
  text-align:center;
  font-weight:900;
  font-size:50px;
  color:#1a2150;
}
.trustLogo {
  display:block;
  width:100px;
  margin:auto;
}
#horizontalBox {
  background-color:#1a2150;
  height:10px;
  width:200px;
  margin-top:30px;
  margin-bottom:30px;
  margin-right:auto;
  margin-left:auto;
}
/*about section*/
.about {
  background-color:#DEE1F6;
  color:#1a2150;
}
.aboutHeader {
  text-align:center;
  background-color:blue;
}
.about h1 {
  text-align:center;
}
/*testimonials section*/
.testimonial {
  background-color:#1a2150;
  color:white;
  text-align:center;
  padding:40px 0px;
}

/*FOOTER*/

.footer{
  background-color: #1a2150;
  color: #ffffff;
  justify-content: center;
  flex-wrap: wrap;
}


.footer-heading h2{
  margin-bottom: 2rem;
  text-align:center;
}

.footer-heading a{
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display:block;
}

.footer-heading a:hover{
  color: #d2812c;
  transition: 0.3s ease-out;
}



.footer-bottom{
  background-color: #343a40;
  color: #DEE1F6;
  height: 50px;
  width: 100%;
  text-align:center;
}
.footer-bottom > p {
  position:relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display:inline-block;;
}