/*
color guide
bright orange: #E49526
dark navy: #1a2150 (outdated)
purplish gray: #DEE1F6
dark dark navy:#151c4d (outdated)
color of blue jeans: #5b80c4
*/
/*color guide v2
dark blue:#121940 ;
dark dark blue: #091038
light blue: #E9F2FA;
*/
/*
boot strap break points
x-small, none, <576px
small, sm, >576px
medium, md, >768px
large, lg, >992px
extra large, xl, >1200px
extra extra large, xxl>1400px
*/
html {
  height:100%;
}
body {
  margin:0px;
  font-family: "Lato", sans-serif;
}
hr {
  margin-top:0;
  margin-bottom:0;
}
p {
  font-size:18px;
}
/*for the margins*/
.sciovirtualContainer {
  max-width:1000px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
.firstsight {
  background-color:#121940;
  height:100vh;
}

.firstsightText > h1{
  font-weight:900;
  color:white;
  font-size:70px;
}
.firstsightText > h2{
  color:white;
  font-size:30px;
}
.firstsight > .container {
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
.firstsightBtnContainer {
  margin-top:30px;
}
.firstsightButton {
  display:inline-block;
  margin-left:0px;
  margin-right:0px;
  text-align:center;
  width:49%;
}

.firstsight .orangebtnlink, .firstsight .bluebtnlink {
  font-size:30px;
  width:180px;
  border-width:6px;
  border-radius:40px;
}
@media only screen and (max-width: 990px) {
  .firstsightText > h1{
    font-size:50px;
  }
  .firstsightText > h2 {
    font-size:20px;
  }
  .firstsight .orangebtnlink, .firstsight .bluebtnlink {
    font-size:20px;
    width:150px;
    border-width:4px;
    border-radius:30px;
  }
}
/*what it looks like on phone*/
@media screen and (max-width:576px) {
  .firstsightButton {
    display:block;
    width:100%;
    margin-bottom:5px;
  }
  .firstsight .orangebtnlink, .firstsight .bluebtnlink {
    font-size:16px;
    width:120px;
    border-width:4px;
    border-radius:30px;
  }
}
.orangebtnlink {
  color:white;
  text-decoration:none;
  font-size:20px;
  border-radius:30px;
  border-style:solid;
  border-width:4px;
  border-color:#E49526;
  transition-duration:0.5s;
  width:150px;
  font-weight:700;
}
.orangebtnlink:hover {
  color:#121940;
  background-color:#E49526;
}
.bluebtnlink {
  color:white;
  text-decoration:none;
  font-size:20px;
  border-radius:30px;
  border-style:solid;
  border-width:4px;
  border-color:#5b80c4;
  transition-duration:0.5s;
  width:150px;
  font-weight:700;
}
.bluebtnlink:hover {
  color:#121940;
  background-color:#5b80c4;
}
.spaceshipContainer {
  margin-top:200px;
  /*background-color:green;*/
}
.spaceshipandearth {
  width:80%;
  height:91%;
  margin:auto;
  transform-style: preserve-3d;
  margin-left:20%;
  /*background-color:red;*/
}
@media only screen and (max-width: 992px) {
  .spaceshipContainer {
    margin-top:30px;
    width:70%;
    left:50%;
    position:relative;
    transform:translateX(-50%);
  }
}
/*mission section*/
.mission {
  padding-top:150px;
  background-color:white;
  text-align:center;
  padding-bottom:50px;
  color:#121940;
}
.mission h1 {
  font-weight:900;
  font-size:50px;
}
.missionEmphasis {
  color:grey;
}
.missionHeader {
  text-align:center;
}
.mission .orangebtnlink {
  color:white;
  background-color:#E49526;
}
.mission .orangebtnlink:hover {
  color:#e49526;
  background-color:transparent;
}

/*trust section*/
.trust {
  padding-bottom:50px;
  background-color:#E9F2FA;
}
.trustbox {
  text-align:center;
  color:#121940;
  padding:0px 25px;
}
.trustbox > p:nth-child(1) {
  font-size:25px;
}
.trustbox > p:nth-child(2) {
  font-size:19px;
}
.trust h1 {
  text-align:center;
  font-weight:900;
  font-size:50px;
  color:#121940;
}
.trustLogo {
  display:block;
  width:100px;
  margin:auto;
}
#horizontalBox {
  background-color:#121940;
  height:10px;
  width:200px;
  margin-top:30px;
  margin-bottom:30px;
  margin-right:auto;
  margin-left:auto;
}


/*about section*/
.about {
  background-color:#DEE1F6;
  color:#121940;
  padding-bottom:50px;
}
.aboutHeader {
  text-align:center;
  font-size:30px;
}
.about h1 {
  text-align:center;
  font-weight:900;
  font-size:50px;
}
.about h3 {
  font-weight:bold;
}
.aboutSection {
  text-align:center;
}
.cqbottomborder {
  background-color:#121940;
  height:3px;
  width:300px;
  margin-top:20px;
  margin-bottom:30px;
  margin-right:auto;
  margin-left:auto;
  display:block;
}
@media only screen and (min-width:769px) {
  .coursequalityBorder {
    border-right: 3px solid #121940;
  }
  .cqbottomborder {
    display:none;
  }

}
.courseQuality {
  margin-top:70px;
  color:#121940;
  text-align:center;
}
.courseQuality h3 {
  margin:30px 0px;
  font-size: 35px;
  font-weight:700;
}
.courseQuality h4 {
  font-weight:bold;
}
.courseQuality .col-md-4 {
  padding:0px 20px;
}
/*testimonials + yearRound */
.testimonialsyearRound {
  color:white;
  background-color:#121940;

}
/*year round*/
.yearRound {
  padding:50px 0px;
}
.yearRound h1 {
  font-weight:900;
  font-size:50px;
}
.yearroundBtnContainer {
  margin-top:30px;
  /*background-color:pink;*/
}
.yearroundButton {
  display:inline-block;
  margin-left:0px;
  margin-right:0px;
  text-align:center;
  width:49%;
}
@media screen and (max-width:992px) {
  .bigGlobe {
    width:70%;
    left:50%;
    position:relative;
    transform:translateX(-50%);
    margin-top:30px;
  }

}
@media screen and (max-width:400px) {
  .yearroundButton {
    display:block;
    width:100%;
    margin-bottom:20px;
  }
}
.yearroundHeading {
  text-align:center;
}
/*testimonials section*/
.testimonial {
  text-align:center;
  padding:40px 0px;
}

.testimonialTile {
  padding:0px 50px;
  z-index:10;
  /*background-color:red;*/
}
/*FOOTER*/
.seperator {
  height:1px;
  background-color:#E49526;
  width:100%;
  margin-bottom:50px;
}
.footer{
  background-color: #121940;
  color: #ffffff;
  padding-bottom:50px;
}

.footer-section h2{
  text-align:center;
  font-size:20px;
}
.orangeLine {
  height:3px;
  width:80px;
  background-color:#E49526;
  margin-bottom:20px;
  left:50%;
  position:relative;
  transform: translateX(-50%);
}
.footer-section a{
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display:block;
  text-align:center;
}

.footer-section a:hover{
  color: #d2812c;
  transition: 0.3s ease-out;
}

/*.footer-bottom{
  background-color: #343a40;
  color: #DEE1F6;
  height: 50px;
  width: 100%;
  text-align:center;
}
.footer-bottom > p {
  position:relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display:inline-block;;
}*/