.darkholdtheholdtheocean {
  transform: scaleY(0.5);
  background: linear-gradient(0deg, #1a2150 2%, #dee1f6 0%);
}

.darkholdtheocean {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 210px;
  margin: -53px 0;
}

.darkocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1a2150;
}

.darkwave {
  background: url(/assets/img/darkwave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.darkwave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

.lightholdtheholdtheocean {
  transform: scaleY(0.5);
  background: linear-gradient(0deg, #dee1f6 2%, white 0%);
}
.lightholdtheocean {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 210px;
  margin: -53px 0;
}

.lightocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #DEE1F6;
}

.lightwave {
  background: url(/assets/img/lightwave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.lightwave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}